body {
    margin: 0;
    padding-top: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, rgb(162, 200, 231), rgb(0, 109, 199));
    height: fit-content;
}  

header.fixed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, rgb(162, 200, 231), rgb(0, 109, 199));
    height: fit-content;
    position: fixed;
    height: 50%;
    width: 100%;
    top: 0;
    z-index: 1;
}  

header div {
    display: flex;
    align-items: center;
}

.pagina_titel {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}

/* website titel */
header div h1 {
    margin-left: 1em;
    color: white;
}
span {
    color: rgb(0, 109, 199);
}
header div h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin: 0;
}

/* navigatie balk */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    background-color: white;
}
ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    margin-left: auto;
}
li {
    margin-right: 2em;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
a:hover {
    color: rgb(0, 109, 199);
}
section {
    display: flex;
    justify-content: center;
    
}

.dropdown_button {
    background-color: white;
    color: black;
    font-size: 1em;
    border: none;
    padding: 1em 1em;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 2em;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 2em;
}
.dropdown_content li {
    margin: 0;
}
.dropdown_content a {
    color: black;
    padding: 0.5em 0.5em;
    text-decoration: none;
    display: block;
}
.dropdown_content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown_content {
    display: block;
}
.dropdown:hover .dropdown_button {
    background-color: rgb(0, 109, 199);
    color: white;
}

/*index pagina*/
.banner {
    background-image: url(./Images/workout-partner-800x476.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    margin: 0;
}

.banner div {
    padding: 10em 6em;
}

.banner h2 {
    margin-top: 0;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
}

.register {
    font-size: 1.5em;
    height: 2em;
    background-color: rgb(0, 109, 199);
    border: none;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
}
.register a {
    color: white;
    margin: 1em
}
.register:hover {
    background-color: rgb(21, 128, 215);
}
.register a:hover {
    text-decoration: none;
}


/* login scherm opmaak*/
.inloggen{
    height: 20em;
    width: 25em;
    padding: 1em;
    margin-top: 10em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    z-index: 11;
    background-color: white;
}
.login_box {
    margin-bottom: 0.5em;
    height: 5em;
    width: 22em;
    font-size: large;
    padding-left: 0.5em;
    border-style: none;
    background-color: rgb(240, 240, 240);
}
.login_button {
    height: 3em;
    width: 15em;
    margin: 0.5em 3em;
    font-size: large;
}
p {
    margin-top: 0;
    width: 23em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.naar_register {
    color: rgb(0, 109, 199);
}
.terug_knop {
    width: 5em;
    height: 2em;
}

/* loguit popup*/
.loguit_veld {
    display: block;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: fixed;
    background-color: white;
    top: 10em;
    height: 20em;
    width: 20em;
    position: fixed;
    
}
.loguit {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loguit_weg {
    margin: 1em 0 0 1em;
}

.zekerheids_check {
    display: none;
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: center;
}

.wel_zeker {
    width: 7em;
    margin-left: 1.5em;
    margin-top: 1em;
}
.niet_zeker {
    width: 7em;
    margin-right: 1.5em;
    margin-top: 1em;
}

/* opmaak van de register pagina (zonder header)*/
form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

form input {
    height: 3em;
    width: 15em;
    margin: 0.5em;
}

.user_info label {
    margin-left: 5em;
}

#email {
    width: 31.6em;
}

#geslacht {
    margin-right: 6.5em;
    margin-left: 0.5em;
    height: 2em;
}

#rol {
    margin-left: 0.5em;
    height: 2em;
}

#land {
    margin-right: 15em;
}

#telefoonnummer {
    margin-top: 2em;
}

#mobielnummer {
    margin-top: 2em;
    height: 3em;
}

.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 22em;
    width: 100%;
    
}

.adress_info {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 22em;
}

.user_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 28em;
}

.user_form div {
    margin: 0.5em;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: flex-start;    
}

.adress_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 28em;
}
.register_submit {
    display: none;
    width: 15em;
    height: 2em;
    font-size: large;
}
.back {
    display: none;
    margin-top: 3em;
}

/* data opmaak */
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
thead {
    background-color: #f2f2f2;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabellen {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: space-evenly;
}
.tabellen div {
    border-radius: 1em;
    background-color: rgb(244, 244, 244);
}